// vars
$tableLight: #f3f2f7;
$lowMed: #cab707;
$medHigh: #ff5f43;
$info: #00cfe8;
.alpha-third {
    opacity: 0.333;
}
.badge-light-low-med {
    background-color: #e4d33d1f;
    color: $lowMed !important;
}
.badge-light-med-high {
    background-color: #ff5f431f;
    color: $medHigh !important;
}
.bg-med {
    background-color: #e4d33d !important;
}
.bg-med-high {
    background-color: #ff5f43 !important;
}
.border-info {
    background-color: #00cfe8 !important;
    color: $info !important;
    border-color:  $info !important;
}
.language-switcher {
    position: absolute !important;
    transform: translate3d(-30px, 30px, 0px) !important;
}
.table-td-light {
    background-color: $tableLight !important;
}
